version: '3.9'

services:

  db:                                       
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: charges_db
    ports:
      - "5432:5432"
    volumes:
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d charges_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  etl:
    build: .
    container_name: etl_process
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./dataset:/app/dataset
    command: python etl/main.py
